<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings />
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=Provider.db;Version=3;" />
  </connectionStrings>
  <system.web>
    <authorization>
      <deny roles="Admin" />
    </authorization>
	<authentication mode="Forms">
		<forms loginUrl="/Login.aspx" defaultUrl="/Default.aspx" />
	</authentication>
    <compilation debug="true">
      <assemblies>
        <add assembly="Mono.Data.Sqlite, Version=2.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" xmlns="" />
      </assemblies>
    </compilation>
    <roleManager defaultProvider="SQLiteRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="SQLiteRoleProvider" type="TestMembership.SQLiteRoleProvider" connectionStringName="ConnString" applicationName="TEST" writeExceptionsToEventLog="true" />
      </providers>
    </roleManager>
    <membership defaultProvider="SQLiteMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SQLiteMembershipProvider" type="TestMembership.SQLiteMembershipProvider" connectionStringName="ConnString" applicationName="TEST" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" writeExceptionsToEventLog="true" />
      </providers>
    </membership>
  </system.web>
  <system.net>
    <!-- use web site configuration to set your smtp server settings-->
    <!--
    <mailSettings>
    
      <smtp from="Admin@yourserver.com">
        <network host="localhost" password="" userName="" />
      </smtp>
    </mailSettings>
    -->
  </system.net>
</configuration>