<connectionStrings>
	<add name="DocStoreConn" connectionString="Data Source=|DataDirectory|DocumentStore.db3;DbLinqProvider=Sqlite;" providerName="Mono.Data.Sqlite" />
	<add name="MembershipProviderConn" connectionString="Data Source=|DataDirectory|MembershipProvider.db3;Version=3;" providerName="Mono.Data.Sqlite" />
	<!--<add name="MembershipProviderConn" connectionString="Data Source=App_Data/MembershipProvider.db3;Version=3;" providerName="Mono.Data.Sqlite" />-->
</connectionStrings>